@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

/*

Paleta de cores
Verde: #49a09d
Lilas: #5f2c82

*/

* {
   font-family: "Barlow", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#fundo {
   background: #5f2c82 url(../imagens/pxfuel.jpg);
}

section {
   background-color: white;
}

#login {
   margin: 170px auto;
   background-color: white;
   width: 300px;
   height: 530px;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.822);
   background: transparent;
   transition: width 0.3s, height 0.3s;
   transition-timing-function: ease;
}

section#login > div#imagem {
   background: #5f2c82 url(../imagens/flores.jpg) no-repeat;
   height: 200px;
   background-size: cover;
   background-position: center;
   display: block;
}

section#login > div#formulario {
   padding: 3px;
   display: block;
}

#input-box > input #input-box {
   background: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #fff;
}

#input-box > span {
   color: rgb(255, 255, 255);
   position: relative;
   top: 5px;
}

div#formulario > h1 {
   color: white;
   margin-top: 10px;
   margin-bottom: 5px;
   text-decoration: overline #ff7f50;
}

div#formulario > p {
   margin-top: 5px;
   margin-bottom: 10px;
   color: white;
}

#input-box > #ilogin {
   width: 88%;
   height: 40px;
   padding: 5px;
   border-radius: 20px;
   background: transparent;
   outline: none;
   border: 2px solid rgba(247, 244, 244, 0.829);
   font-size: 16px;
   margin-bottom: 5px;
}

#input-box > #isenha {
   width: 88%;
   height: 40px;
   padding: 5px;
   border-radius: 20px;
   background: transparent;
   outline: none;
   border: 2px solid rgba(247, 244, 244, 0.829);
   font-size: 16px;
   margin-bottom: 30px;
}

::placeholder {
   color: white;
}

form > input[type="submit"] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #ff7f50;
   border: none;
   border-radius: 5px;
}

form > input[type="submit"]:hover {
   background-color: #ff7f50a4;
   cursor: pointer;
}

form > a.link {
   display: block;
   color: rgb(0, 0, 0);
   margin: 2px 0;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #ffffffc2;
   border-radius: 5px;
   border: 1px solid black;
   text-decoration: none;
   padding-top: 7px;
}

form > a.link > i {
   font-size: 0.8em;
}

form > a.link:hover {
   background-color: #ff7f50;
   cursor: pointer;
}
